@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: capitalize;
}
body {
    background-color: #151320;
}
img:not(.person-img) {
    width: 100%;
}
img {
    display: block;
}
.slider-container {
    border: 5px solid white;
    width: 80vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    color: white;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
}
.slide-img {
    height: 100%;
    object-fit: cover;
}
.slide h1 {
    font-size: 5rem;
}
.person-img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.slide:nth-child(1) h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide:nth-child(3) {
    background: url("./img-2.jpeg") center/cover no-repeat;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: silver;
    transition: all 0.3s linear;
}
.prevBtn:hover,
.nextBtn:hover {
    color: white;
}
@media screen and (min-width: 576px) {
    .slider-container {
        height: 45vh;
    }
}
@media screen and (min-width: 768px) {
    .slider-container {
        height: 55vh;
    }
}
@media screen and (min-width: 992px) {
    .slider-container {
        height: 65vh;
    }
}